body {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  background-color: rgb(197,204,211);
  -webkit-text-size-adjust: none;
}

h1 {
  margin: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(76,86,108);
}

ul {
  padding: 0;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 17px;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  width: 300px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217,217,217);
  -webkit-border-radius: 8px;
}

li {
  list-style-type: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(217,217,217);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
}

li:first-child {
  border-top: 0;
}

a {
  display: block;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  margin-top: -8px;
  margin-right: -8px;
  margin-bottom: -12px;
  margin-left: -8px;
  text-decoration: none;
  color: black;
}

.collapsed {
  margin-right: 10px;
  padding-right: 16px;
  background-image: url(chevron.png);
  background-repeat: no-repeat;
  background-position: right;
}

.button {
  position: absolute;
  top: 8px;
  right: 6px;
  -webkit-border-image: url(iPhoneButton.png) 0 5 0 5;
  -webkit-border-radius: 0;
  border-width: 0 5px 0 5px;
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-decoration: none;
  background: none;
}
